/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.8.2013, 17:22:27
    Author     : martin
*/

.shop-label {
    -fx-font: 16px "Serif";
  /*  -fx-padding-left: 10; */
    -fx-background-color: #CCFF99;
}

.top-label {
    -fx-background-color: #CCFF99;
    -fx-border-color: gray;
    -fx-border-width: 0 0 1 0;
}

.my-tool-bar {
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(rgb(39, 40, 40),-30%), derive(rgb(39, 40, 40),-60%)),
        linear-gradient(to bottom, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 0.416667em 0 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}

.segmented-button-bar .button {
    -fx-background-color:
        rgb(5, 5, 5),
        rgb(87, 89, 92),
        linear-gradient(to bottom, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.4em 1.833333em 0.4em 1.833333em;
    -fx-text-fill: white;
}
 
.segmented-button-bar .button.first {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}
 
.segmented-button-bar .button.last {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}
 
.segmented-button-bar .button:pressed {
    -fx-background-color:
        rgb(5, 5, 5),
        rgb(55, 57, 58),
        linear-gradient(to top, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
}

.my-tool-bar .spacer {
    -fx-padding: 0 1.417em 0 0;
}

.week-box {
    -fx-padding: .5 0 0 0;
}

.my-combo-box {
	 -fx-background-color:
        rgb(5, 5, 5),
        rgb(87, 89, 92),
        linear-gradient(to bottom, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
    -fx-text-fill: white;
}

.my-combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
    -fx-padding: 0.5em 0.416667em 0.5em 0.416667em; /* 6 5 6 5  */
}

.my-combo-box .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: white, transparent;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.my-button {
}

.my-table-view .column-header {
	-fx-size: 24px;
	
}

/** CSS **/
.mylistview{
	-fx-border-color:derive(gray,80%);
}


/* The main scrollbar CSS class of ListView */
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color:transparent;
}


/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:0em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 0em;    
}


/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.scroll-bar:horizontal:hover .track,
.scroll-bar:horizontal:pressed .track,
.scroll-bar:vertical:hover .track,
.scroll-bar:vertical:pressed .track{
	-fx-background-color:derive(#f2f2f2,0%);
     /*-fx-background-color: derive(#434343,70%);*/
	 -fx-opacity: 1;
	 -fx-border-color:derive(gray,80%);
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
    -fx-background-color: derive(black,50%);
}
.increment-button:hover,
.decrement-button:hover {
    -fx-background-color:derive(gray,100%);
	-fx-border-color:derive(gray,80%);	
	-fx-padding:10px;
}